<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whroid.android.tuo" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:name=".TApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.whroid.android.utility.image.browse.BrowseImageUI"/>
        <activity android:name=".note.MainActivity"/>
        <activity android:name=".note.ui.app.AboutWebUI"/>
        <activity android:name=".note.ui.NoteDetailUI"/>
        <activity android:name=".note.ui.NoteMainUI"/>
        <activity android:name=".note.ui.NoteNewUI"/>


     <!-- TwebBrowser begin-->
        <activity android:name="com.whroid.android.twebbrowser.TwebBrowserUI">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tuo"/>
            </intent-filter>
        </activity>
     <!-- TwebBrowser end-->



       <!-- sample begin-->
        <activity
            android:name="com.whroid.android.sample.SampleActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.whroid.android.sample.navigation.DrawerLayoutActivity"
            android:label="@string/title_activity_drawer_layout" >
        </activity>
        <!-- sample end -->
    </application>

</manifest>
