<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whroid.android.tuo" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:name=".TApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.whroid.android.utility.image.browse.BrowseImageUI"/>
        <activity android:name=".note.MainActivity"/>
        <activity android:name=".note.ui.app.AboutWebUI"/>
        <activity android:name=".note.ui.NoteDetailUI"/>
        <activity android:name=".note.ui.NoteMainUI"/>
        <activity android:name=".note.ui.NoteNewUI"/>


     <!-- TwebBrowser begin-->
        <activity android:name="com.whroid.android.twebbrowser.TwebBrowserUI">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tuo"/>
            </intent-filter>
        </activity>
     <!-- TwebBrowser end-->



       <!-- sample begin-->
        <activity
            android:name="com.whroid.android.sample.SampleActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.whroid.android.sample.navigation.DrawerLayoutActivity"/>
        <!-- sample end -->



        <!-- 3share begin -->
        <!-- 必须注册在微博授权，分享新浪微博时候用到 -->
        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
            android:exported="false" >
        </activity>
        <activity android:name="com.whroid.android.share.MainActivity"/>
        <!-- 3share end -->


        <!-- foundation begin -->
        <activity
            android:name="com.whroid.android.foundation.ItemListActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name="com.whroid.android.foundation.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="com.whroid.android.foundation.ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whroid.android.foundation.ItemListActivity" />
        </activity>
        <!-- foundation end -->
    </application>

</manifest>
